@model LojaSystem.Models.Servico

@{
    ViewData["Title"] = "Create";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><!-- jQuery base library needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<!-- select2-bootstrap4-theme -->
<link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">


<div class="card">
    <div class="card-body">
        <h2>Registrar Serviço</h2>

        <hr />
        <div class="row">
            <div class="col-md-7">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="DataInicio" class="control-label"></label>
                        <input asp-for="DataInicio" class="form-control" />
                        <span asp-validation-for="DataInicio" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="DataFinal" class="control-label"></label>
                        <input asp-for="DataFinal" class="form-control" />
                        <span asp-validation-for="DataFinal" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ClienteId" class="control-label"></label>
                        <select class="select form-select form-control" asp-for="ClienteId" asp-items="ViewBag.ClienteId"></select>
                        <span asp-validation-for="ClienteId" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="EquipamentoServicoId" class="control-label"></label>
                        <select class="select form-control form-select" asp-for="EquipamentoServicoId" asp-items="ViewBag.EquipamentoServicoId"></select>
                        <span asp-validation-for="EquipamentoServicoId" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="ResponsavelServicoId" class="control-label"></label>
                        <select class="select form-select form-control" asp-for="ResponsavelServicoId" asp-items="ViewBag.ResponsavelServicoId"></select>
                        <span asp-validation-for="ResponsavelServicoId" class="text-danger"></span>
                    </div>

                    <br />
                    <div class="form-group">
                        <input type="submit" value="Registrar" class="btn btn-primary" />
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    $(document).ready(function () {
        $('.select').select2({
            placeholder: "Selecione uma opção",
            theme: "bootstrap4",
            allowClear: true,
            width: '100%'
        })
    });

</script>

