@model LojaSystem.Models.Marca

@{
    ViewData["Title"] = "Edit";
}


<div class="card">
    <div class="card-body">
        <h2>Editar Marca</h2>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdMarca" />
                    <div class="form-group">
                        <label asp-for="NomeMarca" class="control-label"></label>
                        <input asp-for="NomeMarca" class="form-control" />
                        <span asp-validation-for="NomeMarca" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Salva Alterações" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div>
    <a asp-action="Index">Retornar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
